body {
    background: url(../images/bg.png);
    background-repeat: repeat;
}

.bubble::after {
    content: ' ';
    position: relative;
    width: 0;
    height: 0;
    bottom: 40px;
    left: -77px;
    border: 20px solid transparent;
        border-top-color: transparent;
        border-bottom-color: transparent;
        border-bottom-style: solid;
        border-bottom-width: 20px;
    border-color: transparent transparent transparent white;
    transform: rotate(90deg);
}

.bubblechat > div {
    background-color: rgb(58, 125, 208);
    color: white;
}
.pink > div {
    background-color: rgb(177, 72, 156);
    color: white;
}

.acomplete {
    width: 100%;
    min-height: 0px;
    max-height: 200px;
    background: white;
    z-index: 100;
    left: 0;
    bottom: 59;
    overflow-y: scroll;
}
.acomplete > li {
    padding: 2px 6px;
}
.acomplete > li.sel {
    background: #ccc;
}