<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/x-icon" href="/static/images/favicon.png">
    <title>{% block title %}{% endblock %}Select Room ID · Bakchody</title>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/js/jquery.timeago.js"></script>

    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" />

    <link rel="stylesheet" type="text/css"
        href="https://yui.yahooapis.com/3.18.1/build/cssreset-context/cssreset-context-min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.1.0/github-markdown-light.css" />

    <link rel="stylesheet" href="/static/css/all.css">
    {% block extraheaders %}{% endblock %}
</head>

<body>
    {% block maincontent %}{% endblock %}
</body>

</html>