{% extends 'master.html' %}

{% block extraheaders %}
<script type="text/javascript">
    window.localStorage.nick = "{{nick}}";
</script>
{% endblock %}

{% block maincontent %}

<div class="allchat flex h-full flex-col justify-end">

    <div class="chat flex flex-col p-4">
        <div class="bubblechat flex items-center bg justify-end">
            <div class="w-2/3 lg:w-1/3 p-4 shadow my-3 border-gray-100 border-3 rounded-full rounded-br-none">
            </div>
        </div>

        <div class="bubblechat flex items-center justify-end">
            <div class="w-2/3 lg:w-1/3 p-4 shadow my-3 border-gray-100 border-3 rounded-full  rounded-br-none">
            </div>
        </div>

        <div class="bubblechat pink flex items-center justify-left">
            <div class="w-2/3 lg:w-1/3 p-4 shadow my-3 border-gray-100 border-3 rounded-full  rounded-bl-none">
            </div>
        </div>
    </div>

    <div class="inputarea bg-white flex flex-row">
        <div class="flex flex-row items-center">
            <a href="javascript:;" class="px-1 text-2xl"><i class="fa fa-circle"></i></a>
            <a href="javascript:;" class="px-1 text-2xl"><i class="fa fa-paperclip"></i></a>
        </div>

        <textarea name="msg" required autocomplete="off" placeholder="baby ne thana thaya?"
            class="focus:outline-none text-left w-full h-12 mt-2 px-4" style="line-height: 20px">{{roomid}}</textarea>
        <button type="submit"
            class="btn btn-success cursor-pointer bg-blue-400 w-24 border border-blue-500 text-white text-center">
            <i class="fa fa-paper-plane fa-lg "></i>
        </button>
    </div>

</div>
{% endblock %}