{% extends 'master.html' %}

{% block extraheaders %}
{% endblock %}

{% block title %}Chat{% endblock %}

{% block maincontent %}

<div class="spinner hidden fixed w-full h-full z-30 text-center">
    <div class="spin-background fixed w-full h-full bg-white opacity-80 z-40"></div>
    <i class="fa-duotone fa-spinner-third fa-spin text-9xl z-50" style="top: 40%;"></i>
</div>

<script src="/static/js/emojidata.js?_={{version}}"></script>
<script src="/static/js/autocomplete.js?_={{version}}"></script>
<script src="/static/js/sound.js?_={{version}}"></script>
<script src="/static/js/autosave.js?_={{version}}"></script>
<script src="/static/js/socket.js?_={{version}}"></script>
<script src="/static/js/chat.js?_={{version}}"></script>
<script src="/static/js/upload.js?_={{version}}"></script>

<script>
    var room_id = "{{room_id}}";
    var nick = "{{nick}}";
    var settings = JSON.parse('{{settings_j|safe}}');
</script>

<div
    class="bg bg-white fixed w-full shadow-lg px-4 py-3 bg-gradient-to-t from-gray-100 to-gray-300 text-lg text-center font-bold flex">
    <div class="text-xl self-center">
        <a href="/"><i class="fa-regular fa-face-swear"></i></a>
    </div>
    <div class="grow alivenicks">
        {{nick}} <> ... &#;
    </div>
    <div class="typingindicator text-sm self-center w-24 mr-4">
    </div>
    <div class="text-xl self-center w-6">
        {% if settings["s_notification"] == "on" %}
        <a href="javascript:;" class="stoggle hover:text-gray-600" x-name="s_notification"
            x-value="{{settings["s_notification"]}}" x-on="fa-solid fa-bell-on" x-off="fa-regular fa-bell"><i
                class="fa-solid fa-bell-on"></i></a>
        {% else %}
        <a href="javascript:;" class="stoggle hover:text-gray-600" x-name="s_notification"
            x-value="{{settings["s_notification"]}}" x-on="fa-solid fa-bell-on" x-off="fa-regular fa-bell"><i
                class="fa-regular fa-bell"></i></a>
        {% endif %}
    </div>
</div>

<div class=" allchat flex h-full flex-col justify-end border-2">
    <div class="chat chatcontainer flex flex-col p-4 overflow-auto pt-14">
    </div>

    <form class="chatinput inputarea bg-white flex flex-row m-0" action="/relay/{{room_id}}/" method="POST">
        <input type="file" id="fileinput" class="hidden" />

        <div class="flex flex-row items-center text-gray-600 gap-1">
            <!--a href="javascript:;" class="px-1 pl-2 text-xl"><i class="fa-sharp fa-regular fa-face-smile"></i></a-->
            <a href="javascript:;" class="uploadbtn px-1 text-xl hover:text-gray-600"><i
                    class="fa fa-paperclip"></i></a>
        </div>

        <textarea name="msg" required autocomplete="off" placeholder="baby ne thana thaya?"
            class="chatwriter focus:outline-none text-left w-full h-12 mt-2 px-4"
            style="line-height: 20px">{{roomid}}</textarea>
        <button type="submit"
            class="btn btn-success cursor-pointer bg-teal-600 hover:bg-teal-700 w-24 text-white text-center border-t border-t-teal-600 hover:border-t-teal-700">
            <i class="fa fa-paper-plane fa-lg "></i>
        </button>

    </form>

</div>
{% endblock %}