{% extends 'master.html' %}

{% block extraheaders %}
{% endblock %}

{% block title %}Chat{% endblock %}

{% block maincontent %}
<script>
    var room_id = "{{room_id}}";
</script>

<div class="alivenicks bg bg-white fixed w-full shadow-lg px-4 py-2 text-center font-bold bg-gradient-to-t from-gray-100 to-gray-300"">
    {{nick}} <> ...
</div>

<div class=" allchat flex h-full flex-col justify-end">
    <div class="chat chatcontainer flex flex-col p-4 overflow-auto pt-10">
    </div>

    <form class="chatinput inputarea bg-white flex flex-row" action="/relay/{{room_id}}/" method="POST">
        <div class="flex flex-row items-center text-gray-600">
            <a href="javascript:;" class="px-1 text-xl"><i class="fa fa-circle"></i></a>
            <a href="javascript:;" class="px-1 text-xl"><i class="fa fa-paperclip"></i></a>
        </div>

        <textarea name="msg" required autocomplete="off" placeholder="baby ne thana thaya?"
            class="chatwriter focus:outline-none text-left w-full h-12 mt-2 px-4"
            style="line-height: 20px">{{roomid}}</textarea>
        <button type="submit"
            class="btn btn-success cursor-pointer bg-blue-400 w-24 border border-blue-500 text-white text-center">
            <i class="fa fa-paper-plane fa-lg "></i>
        </button>
    </form>

</div>
{% endblock %}